.catalog-page__header {
  padding: 170px 0 80px 0;
  background-position: center;
  background-size: cover;
  background-image: url(../media/image/catalog.jpg);
  position: relative;

  &::after {
    z-index: 1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(32, 31, 31, 0.3), rgba(32, 31, 31, 0.3));
    top: 0;
    left: 0;
  }

  * {
    z-index: 2;
  }

  .main-breadcrum {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 40px;
    color: rgba(255, 255, 255, 0.6);

    a {
      font-size: 16px;
      line-height: 40px;
      text-decoration-line: underline;
      color: #FFFFFF;
    }

    span {
      font-size: 16px;
      line-height: 40px;
      color: rgba(255, 255, 255, 0.6);
    }
  }

  .catalog-page__title {
    font-weight: bold;
    font-size: 64px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0 8px 16px rgba(0, 0, 0, 0.06);
  }

  &--inner {
    background-image: none;
    background-color: #201F1F;

    &::after {
      display: none;
    }
  }

  &--contacts {
    background-image: none;
    background-color: #201F1F;

    &::after {
      display: none;
    }
  }
}