@media screen and (max-width: 575px) {
  // main-slider
  .main-slider__nav {
    width: 100%;
    display: none;

    .timeline {
      width: 100%;
    }
  }
  .main-slider__body {
    height: 150px;
    display: none;

    .main-slider__item {
      max-width: calc(100% - 75px);
    }
  }
  // main-slider end

  // header
  .header__logo {
    display: none;
  }

  .header__mobile-logo {
    width: 32px;
    min-width: 32px;
    height: 32px;
    display: block;
  }

  .header__number {
    margin-left: 15px;

    .icon {
      display: none;
    }

    .number {
      margin-right: 0;
    }
  }

  .header__left{
    &::before {
      left: 48px;
    }
  }
  // header end

  // main-block
  .main-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main-block__pre-title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 0;
  }

  .main-block__title {
    font-size: 32px;
    line-height: 48px;
  }
  // main-block end

  // main-page-catalog
  .main-page-catalog {
    .item {
      height: 400px;
      margin-bottom: 0;
    }
  }
  // main-page-catalog end

  // catalog page
  .catalog-page__header {
    padding: 114px 0 36px 0;
    .catalog-page__title {
      font-size: 32px;
      line-height: 48px;
    }
  }
  // catalog page end
}