@media screen and (max-width: 767px) {
  // main-slider
  .stocks__top {
    flex-direction: column;
  }

  .main-slider__nav {
    margin-top: 40px;
  }

    .main-slider__body {
    height: 250px;
  }
  // main-slider end
}