@media screen and (max-width: 767px) {
  // main-slider
  .stocks__top {
    flex-direction: column;
  }

  .main-slider__nav {
    margin-top: 40px;
  }

    .main-slider__body {
    height: 250px;
  }
  // main-slider end

  // footer
  .mobile-none {
    display: none;
  }

  .footer__nav {
    margin-bottom: 36px;

    &--more {
      display: none;
    }

    &--mobile {
      display: block;
      margin-bottom: 0;
    }
  }
  // footer end
}