@media screen and (max-width: 991px) {
  // main-slider
  .main-slider__body {
    height: 350px;
  }
  // main-slider end

  // header
  .header__menu {
    display: none;
  }
  // header end

  // main-block
  .main-block__box {
    display: none;

    &--mobile {
      display: block;
      margin-top: 0;

      .item {
        height: 250px !important;
        margin-top: 10px;
      }
    }
  }
  // main-block end

  // main-page-catalog
  .main-page-catalog {
    .item {
      height: 450px;

      .name {
        font-size: 20px;
        line-height: 40px;
      }
    }
  }
  // main-page-catalog end
}