* {
  padding: 0;
  margin: 0;
  outline: none;
  color: #FFFFFF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  //font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

a,
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none;
}

button {
  &:hover {
    cursor: pointer;
  }
}

input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/*settings*/
@import "fonts";
@import "var";
@import "main-slider";

/*over use blocks*/
@import "header";
@import "footer";

/*pages*/
// home page
@import "pages/home-page/main-block";
@import "pages/home-page/stocks";

/*media*/
@import "media/1300";
@import "media/1199";
@import "media/991";
@import "media/767";
@import "media/575";